
#mainContent {
    background-color: #8ec5ca;
}

.nav-button{
    width: 100px;
    text-align: center;
    display: inline-block;

}

#tracker {
    text-align: center;
}

.nav-button:hover{
    cursor: pointer;
}
.index-point {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin: 0 5px;
    background-color: #809d9d;
    border: 1px solid black;
    display: inline-block;

}

.index-point-active {
    background-color: #1121ff;
}